.row-posters {
    scrollbar-color: white transparent;
    scrollbar-width: thin;
  }
  
  .row-posters::-webkit-scrollbar {
    height: 8px;
  }
  
  .row-posters::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .row-posters::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  