body {
  background-color: #1b1b1b;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1b1b1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#form {
  max-width: 400px;
  background-color: #e4c59e;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
}

#form input {
  border-radius: 5px;
  font-size: 17px;
  margin: 10px 5px 10px 5px;
  width: 17em;
}

#form select {
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 5px;
  margin: 10px 10px 10px 10px;
  width: 17em;
}

#form input[type="text"] {
  font-size: 20px;
  padding: 5px 5px;
  margin: 10px 10px 10px 10px;
  width: 17em;
}

#luckyBtn {
  padding: 15px;
  font-size: 2.5em;
  background-color: #1d1d1d;
  color: #ffefef;
  border-radius: 55px;
  cursor: pointer;
  margin: 15px;
}

#luckyBtn:hover {
  color: aqua;
  transform: scale(1.2);
}

@media only screen and (max-width: 650px) {
  #form {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}

.row {
  width: 80vw;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0px;
  scrollbar-color: white transparent;
  scrollbar-width: thin;
}

.row-posters::-webkit-scrollbar {
  height: 8px;
}

.row-posters::-webkit-scrollbar-track {
  background: transparent;
}

.row-posters::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 2px solid transparent;
}

.row-poster-container {
  position: relative;
}

.row-poster {
  object-fit: contain;
  max-height: 350px;
  margin-right: 20px;
  transition: transform 450ms;
}

.watchlist-button {
  color: white;
  position: absolute;
  width: 80%;
  left: 20px;
  top: 300px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.row-poster-container:hover .watchlist-button {
  opacity: 0.8;
}

.row-poster-container:hover .row-poster {
  transform: scale(1.08);
}

.hover-title {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.hover-title:hover {
  color: rgb(155, 155, 155);
}
